<div class="form-container">
    <form [formGroup]="form">
        <div class="field">
            <label for="numberOfTenticles">Number of Tenticles</label>
            <input type="text" formControlName="numberOfTenticles">
        </div>
        <div class="field">
            <label for="isSalty">Is Salty</label>
            <input type="text" formControlName="isSalty">
        </div>
        <div class="field">
            <label for="breed">Breed</label>
            <input type="text" formControlName="breed">
        </div>        
    </form>
</div>